.client-header {
  background-color: var(--c-dark);
}

.client-content {
  padding: 50px 0 50px 0;
}

.logo-wrap {
  padding: 120px 0 130px 0;
  max-width: 600px;
}

.logo {
  margin-bottom: 50px;
}

.sub-title {
  @include fontStyles(normal, 300, 14px, 21px, var(--c-txt));
  font-family: var(--main-ff);
}

.title {
  @include fontStyles(normal, 500, 18px, 27px, var(--c-dark));
  font-family: var(--main-ff);
  text-transform: uppercase;
  margin-bottom: 50px;
}

.content {
  @include fontStyles(normal, normal, 14px, 163.35%, var(--c-dark));
  font-family: var(--main-ff);
  margin-bottom: 50px;
}