.client-header {
  background-color: var(--c-dark);
}

.client-content {
  padding: 50px 0 50px 0;
}

.logo-wrap {
  padding: 120px 0 130px 0;
  max-width: 600px;
}

.logo {
  margin-bottom: 50px;
  display: block;
  width: 100%;
}

.sub-title {
  @include fontStyles(normal, 300, 22px, 21px, var(--c-txt));
  font-family: var(--main-ff);
}

.title {
  @include fontStyles(normal, 500, 18px, 27px, var(--c-dark));
  font-family: var(--main-ff);
  text-transform: uppercase;
  margin-bottom: 50px;
}

.content {
  @include fontStyles(normal, normal, 14px, 163.35%, var(--c-dark));
  font-family: var(--main-ff);
  margin-bottom: 50px;
}

@include respond-below(xs) {
  .logo {
    display: block;
    width: 100%;
  }

  .logo-wrap {
    width: 100%;
    padding: 50px 0;
  }

  .content {
    @include fontStyles(normal, normal, 12px, 163.35%, var(--c-dark));
  }
}

@include respond-between(xs, sm) {
  .logo {
    display: block;
    width: 100%;
  }

  .logo-wrap {
    width: 100%;
    padding: 50px 0;
  }

  .content {
    @include fontStyles(normal, normal, 13px, 163.35%, var(--c-dark));
  }
}