.item {
  margin: 10px 0;
}

.btn {
  width: 100%;
  border: 4px solid var(--c-dark);
  padding: 20px 40px;
  text-align: left;
  background: none;
  font-family: var(--main-ff);
  @include fontStyles(normal, 500, 18px, 27px, var(--c-dark));
  text-transform: uppercase;
}

.btn:focus, 
.btn:hover {
  border: 4px solid transparent;
  background-color: var(--c-bg-acc);
  color: var(--c-txt);
}

.txt-wrap {
  padding: 0;
  max-height: 20em;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.is-closed .txt-wrap {
  max-height: 0;
  transition: 0.3s linear;
}

.txt {
  padding: 20px;
  font-family: var(--main-ff);
  @include fontStyles(normal, 300, 18px, 27px, var(--c-brand));
}