:root {
  --c-brand: #1F1F1D;
  --burg-color: black;
  --main-ff: 'Kanit';
  --c-btn-bg: #303030;
  --c-dark: black;
  --c-btn-txt: white;
  --c-btn-bdr: white;
  --bg-bnr: black;
  --c-txt: white;
  --c-txt-clients: #FCFCFC;
  --c-bg-cli: #9D9D9D;
  --c-bg-acc: #303030;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h3, h2, p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

// body {
//   color: var(--t-color);
//   background-color: var(--bg-color);
// }

*,
*:before,
*:after {
  box-sizing: inherit;
}

button:active,
button:focus {
  outline: none;
}

// .btn {
//   border: 1px solid red;

//   .no-touchevent &:hover {
//     background-color: grey;
//   }

//   &:active {
//     background-color: rgb(168, 168, 168);
//   }

//   &:focus {
//     outline: 1px solid blue;
//   }
// }
