.title-wrap {
  padding: 100px;
  background-color: var(--c-dark);
  text-align: center;
}

.art-link {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.title {
  @include fontStyles(normal, 500, 48px, 72px, var(--c-txt));
  text-transform: uppercase;
}

.content-wrap {
  padding: 100px 0 50px 0;
}

.list {
  max-width: 990px;
  display: flex;
  margin: 0 -5px;
  align-items: center;
}

.item {
  margin: 10px;
  width: calc(100% / 4 - 20px);
}

.articles-wrap {
  padding: 50px 0 0 0;
}

.all-art {
  padding: 50px 0 0 0;
}

.art-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
  padding: 30px 0;
}

.button {
  border: 1px solid transparent;
  display: inline-block;
  background-color: var(--c-btn-bg);
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  @include fontStyles(normal, 500, 14px, 21px, var(--c-btn-txt));
  transition: var(--btn-anim);
}

.no-touchevents .button:hover,
.button:active,
.button:focus,
.button:disabled {
  color: var(--c-btn-bg);
  background-color: var(--c-txt);
  border: 1px solid var(--c-btn-bg);
}

.current {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.item_ {
  width: calc(100% / 2 - 20px);
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.photo-wrap {
  position: relative;
  padding-top: 66.25%;
  margin-bottom: 20px;
  overflow: hidden;
}

.photo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: var(--art--anim);
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: var(--art--anim);
}

.no-touchevents .photo-wrap:hover .photo {
  transform: scale(1.1);
}

.no-touchevents .photo-wrap:hover .overlay {
  opacity: 0.8;
  background-color: black;
}

.title_ {
  @include fontStyles(normal, 500, 24px, 36px, var(--c-brand));
  margin: 20px 0;
}

.info {
  @include fontStyles(normal, 300, 18px, 27px, var(--c-brand));
}

.date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dmy {
  @include fontStyles(normal, 500, 12px, 18px, var(--c-dark));
  letter-spacing: 7px;
}

.link {
  @include fontStyles(normal, 500, 12px, 18px, var(--c-dark));
  text-decoration-line: underline;
}

@include respond-below(xs) {
  .list {
    justify-content: center;
  }

  .item {
    margin: 5px;
    width: calc(100% / 4 - 10px);
  }

  .button {
    display: inline-block;
    padding: 5px 5px;
    width: 100%;
    @include fontStyles(normal, 500, 9px, 15px, var(--c-btn-txt));
  }

  .content-wrap {
    padding: 30px 0 50px 0;
  }

  .title-wrap {
    padding: 50px;
  }
  
  .item_ {
    width: 100%;
  }

  .info {
    @include fontStyles(normal, 300, 12px, 20px, var(--c-brand));
  }

  .articles-wrap {
    padding: 20px 0 0 0;
  }
}

@include respond-between(xs, sm) {
  .title_ {
    @include fontStyles(normal, 500, 22px, 20px, var(--c-brand));
    margin: 15px 0;
  }

  .info {
    @include fontStyles(normal, 300, 14px, 17px, var(--c-brand));
  }

  .content-wrap {
    padding: 40px 0 40px 0;
  }

  .current {
    padding: 30px 0;
  }

  .articles-wrap {
    padding: 0;
  }

  .button {
    display: inline-block;
    padding: 10px 15px;
    width: 100%;
    @include fontStyles(normal, 500, 12px, 15px, var(--c-btn-txt));
  }
}

@include respond-between(sm, md) {
  .title_ {
    @include fontStyles(normal, 500, 23px, 20px, var(--c-brand));
    margin: 15px 0;
  }

  .info {
    @include fontStyles(normal, 300, 16px, 20px, var(--c-brand));
  }

  .content-wrap {
    padding: 40px 0 40px 0;
  }

  .current {
    padding: 30px 0;
  }

  .articles-wrap {
    padding: 0;
  }

  .button {
    display: inline-block;
    padding: 10px 15px;
    width: 100%;
    @include fontStyles(normal, 500, 12px, 15px, var(--c-btn-txt));
  }
}

@include respond-between(md, lg) {
  .title_ {
    @include fontStyles(normal, 500, 23px, 24px, var(--c-brand));
    margin: 15px 0;
  }

  .info {
    @include fontStyles(normal, 300, 16px, 22px, var(--c-brand));
  }
}