.wrap {
  display: flex;
  margin: 100px 0;
  position: relative;
}

.photo-section {
  width: 60%;
  position: relative;
}

.default-section {
  width: 40%;
  height: 650px;
  background-color: var(--c-bg-cli);
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--c-dark);
  opacity: 0.5;
}

.clients-wrap {
  position: absolute;
  z-index: 10;
  top: 60%;
  left: 70%;
  transform: translate(-60%, -70%);
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -40px;
  align-items: center;
  max-width: 400px;
}

.title {
  min-width: 300px;
  @include fontStyles(normal, 800, 24px, 207.9%, var(--c-txt-clients));
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

@include respond-below(xs) {
  .photo-section {
    width: 100%;
  }

  .default-section {
    height: 400px;
    width: 0;
  }

  .clients-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .title {
    text-align: center;
    min-width: 210px;
    @include fontStyles(normal, 800, 20px, 20px, var(--c-txt-clients));
  }

  .list {
    width: 100%;
    padding: 0 20px;
  }
}

@include respond-below(sm) {
  .default-section {
    height: 400px;
  }

  .title {
    min-width: 300px;
    @include fontStyles(normal, 800, 19px, 20px, var(--c-txt-clients));
    margin-bottom: 10px;
  }
}

@include respond-between(sm, md) {
  .default-section {
    height: 500px;
  }
}