.btn {
  border: none;
  background-color: var(--c-btn-bg);
  padding: 10px 20px;
  width: 250px;
  text-align: center;
  @include fontStyles(normal, 500, 14px, 21px, var(--c-btn-txt));
  font-family: var(--main-ff);
}

.btn-wrap {
  display: flex;
  justify-content: center;
}