.subs {
  display: flex;
  background-color: var(--burg-color);
}

.photo-section {
  width: 50%;
  position: relative;
}

.info-section {
  width: 50%;
  padding: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  @include fontStyles(normal, 500, 34px, 51px, var(--c-txt));
  margin-bottom: 20px;
}

.btn {
  border: 1px solid var(--c-btn-bdr);
  padding: 10px 20px;
  margin: 10px;
  background: none;
  min-width: 200px;
  text-align: center;
  @include fontStyles(normal, 500, 14px, 21px, var(--c-btn-txt));
  transition: var(--btn-anim);
}

.no-touchevents .btn:hover {
  border: 1px solid transparent;
  background-color: var(--c-txt);
  color: var(--c-dark);
}

@include respond-below(xs) {
  .subs {
    flex-wrap: wrap;
  }

  .title {
    min-width: 250px;
    @include fontStyles(normal, 500, 18px, 27px, var(--c-txt));
  }

  .photo-section {
    width: 100%;
  }

  .photo {
    top: 0;
    left: 0;
    position: unset;
  }

  .info-section {
    width: 100%;
    padding: 40px 60px;
  }
}

@include respond-below(sm) {
  .info-section {
    padding: 90px 40px;
  }

  .title {
    @include fontStyles(normal, 500, 18px, 27px, var(--c-txt));
    margin: 0;
  }
}

@include respond-between(sm, md) {
  .info-section {
    padding: 90px 40px;
  }

  .title {
    @include fontStyles(normal, 500, 18px, 27px, var(--c-txt));
    margin: 0;
  }
}

@include respond-between(md, lg) {
  .info-section {
    padding: 100px 50px;
  }

  .title {
    @include fontStyles(normal, 500, 22px, 27px, var(--c-txt));
    margin-bottom: 10px;
  }
}