.item {
  margin: 10px;
  padding: 30px;
  width: calc(100% / 3 - 20px);
  display: flex;
  flex-direction: column;
  transition: all ease-in-out 0.2s;
}

.item:hover {
  background-color: rgb(236, 236, 236);
  transform: scale(1.05);
}

.sprite-wrap {
  width: 70px;
  height: 70px;
}

.sprite {
  width: 70px;
  height: 70px;
}

.title {
  @include fontStyles(normal, 500, 18px, 27px, var(--c-dark));
  margin: 20px 0;
}

.info {
  @include fontStyles(normal, normal, 16.2px, 163.35%, var(--c-dark));
}

@include respond-below(xs) {
  .item {
    min-width: 220px;
    padding: 20px;
  }

  .title {
    @include fontStyles(normal, 500, 16px, 25px, var(--c-dark));
  }

  .info {
    @include fontStyles(normal, normal, 14px, 20px, var(--c-dark));
  }
}

@include respond-below(sm) {
  .item {
    padding: 10px;
  }

  .title {
    @include fontStyles(normal, 500, 14px, 20px, var(--c-dark));
    margin: 10px 0;
  }

  .info {
    @include fontStyles(normal, normal, 12px, 17px, var(--c-dark));
  }
}

@include respond-between(sm, md) {
  .item {
    padding: 10px;
  }

  .title {
    @include fontStyles(normal, 500, 14px, 20px, var(--c-dark));
    margin: 10px 0;
  }

  .info {
    @include fontStyles(normal, normal, 12px, 17px, var(--c-dark));
  }
}

@include respond-between(md, lg) {
  .item {
    padding: 20px;
  }

  .title {
    @include fontStyles(normal, 500, 16px, 20px, var(--c-dark));
    margin: 10px 0;
  }

  .info {
    @include fontStyles(normal, normal, 14px, 20px, var(--c-dark));
  }
}