.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrap {
  padding: 45px 0;
  position: relative;
  display: flex;
  align-items: center;
}

.burger {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.item {
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  left: 0;
  background: var(--burg-color);
}

.burger.fixed {
  position: fixed;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.it1 {
  top: 0px;
}

.it2 {
  top: 10px;
  width: 75%;
}

.it3 {
  top: 20px;
}

.hover-menu {
  position: absolute;
  width: 300px;
  padding: 40px 30px;
  z-index: 200;
  top: 80px;
  background-color: var(--c-dark);
  opacity: 0.7;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  visibility: hidden;
}

.is-showed .hover-menu {
  visibility: visible;
}

.menu-item {
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.link {
  color: var(--c-txt);
  text-decoration: none;
  position: relative;
  display: block;
  margin: 0 10px;
  padding: 5px 10px;
  transition: 0.5s;
  overflow: hidden;
}

.icon-wrap {
  width: 35px;
  display: inline-block;
}

.link::before {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: -100%;
  width: 100%;
  height: 4px;
  background: rgb(255, 255, 255);
  transition: 0.5s;
}

.link:hover {
  color: var(--burg-color);
}

.link:hover::before {
  animation: animate var(--burg-anim);
}

@keyframes animate {
  0% {
    top: calc(50% - 2px);
    left: -100%;
    height: 4px;
    z-index: 1;
  }
  50% {
    top: calc(50% - 2px);
    left: 0;
    height: 4px;
    z-index: 1;
  }
  100% {
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
}