.wrap {
  padding: 50px 0 20px 0;
  background-color: var(--c-dark);
}

.logo-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-bottom: 40px;
}

.subtitle {
  @include fontStyles(normal, 300, 12px, 18px, var(--c-txt));
}