.clients {
  padding: 50px 0;
}

.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 10px 0;
}

.title {
  font-family: var(--main-ff);
  margin-bottom: 30px;
  @include fontStyles(normal, bold, 21px, 25px, var(--c-dark));
}

.logo {
  display: block;
  width: 100%;
}

.content {
  font-family: var(--main-ff);
  @include fontStyles(normal, 300, 14px, 14px, var(--c-dark));
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: calc(100% / 2 - 40px);
  padding: 40px;
  height: 400px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.btn-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 30px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid black;
  font-family: var(--main-ff);
  @include fontStyles(normal, 300, 14px, 14px, var(--c-dark));
}

.btn:hover,
.btn:focus,
.btn:active {
  border: 1px solid transparent;
  background-color: var(--c-dark);
  color: var(--c-txt);
}

@include respond-below(xs) {
  .item {
    width: 100%;
    padding: 20px 10px;
    margin: 10px;
  }

  .list {
    flex-wrap: wrap;
  }

  .logo {
    display: block;
    width: 100%;
  }

  .title {
    @include fontStyles(normal, bold, 18px, 25px, var(--c-dark));
  }
}

@include respond-between(xs, sm) {
  .logo {
    display: block;
    width: 100%;
  }

  .list {
    flex-wrap: wrap;
  }

  .item {
    padding: 20px 10px;
    margin: 10px;
  }

  .title {
    @include fontStyles(normal, bold, 18px, 25px, var(--c-dark));
  }
}