.item {
  margin: 10px;
  width: calc(100% / 3 - 20px);
}

.photo-wrap {
  position: relative;
  padding-top: 66.25%;
  margin-bottom: 20px;
}

.photo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.title {
  font-family: var(--main-ff);
  @include fontStyles(normal, 500, 18px, 27px, var(--c-brand));
  text-transform: uppercase;
  margin: 30px 0;
}

.date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dmy {
  @include fontStyles(normal, 500, 12px, 18px, var(--c-dark));
  letter-spacing: 7px;
  font-family: var(--main-ff);
}

.link {
  @include fontStyles(normal, 500, 12px, 18px, var(--c-dark));
  text-decoration-line: underline;
  font-family: var(--main-ff);
}

.text {
  @include fontStyles(normal, 500, 12px, 18px, var(--c-dark));
  font-family: var(--main-ff);
}

@include respond-below(xs) {
  .item {
    min-width: 220px;
  }

  .title {
    @include fontStyles(normal, 500, 16px, 20px, var(--c-dark));
  }

  .text {
    @include fontStyles(normal, 500, 12px, 15px, var(--c-dark));
  }

  .link {
    @include fontStyles(normal, 500, 10px, 18px, var(--c-dark));
  }

  .dmy {
    @include fontStyles(normal, 500, 11px, 18px, var(--c-dark));
    letter-spacing: 4px;
  }
}