.baner {
  display: flex;
  background-color: var(--burg-color);
}

.photo-section {
  width: 50%;
  position: relative;
}

.info-section {
  width: 50%;
  padding: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dmy {
  @include fontStyles(normal, 500, 14px, 21px, var(--c-txt));
  letter-spacing: 7px;
}

.link {
  @include fontStyles(normal, 500, 14px, 24px, var(--c-txt));
  text-decoration-line: underline;
}

.ti {
  display: flex;
  flex-direction: column;
  margin: 60px 0;
}

.title {
  @include fontStyles(normal, 500, 28px, 42px, var(--c-txt));
  text-transform: uppercase;
  margin-bottom: 30px;
}

.info {
  @include fontStyles(normal, 300, 14px, 21px, var(--c-txt));
}

.btn {
  width: 200px;
  padding: 20px;
  text-align: center;
  border: 1px solid var(--c-btn-bdr);
  background: none;
  @include fontStyles(normal, 500, 12px, 18px, var(--c-btn-txt));
  cursor: pointer;
  transition: all linear 0.2s;
}

.btn:hover {
  border: 1px solid transparent;
  background-color: var(--c-txt);
  color: var(--c-dark);
}

@include respond-below (xs) {
  .baner {
    flex-wrap: wrap;
  }

  .photo-section {
    width: 100%;
  }

  .info-section {
    width: 100%;
    padding: 15px 15px 30px 15px;
  }

  .photo {
    position: unset;
  }

  .dmy, .ti {
    @include fontStyles(normal, 500, 12px, 18px, var(--c-txt));
  }

  .ti {
    margin: 0;
  }

  .data {
    margin-bottom: 20px;
  }

  .title {
    @include fontStyles(normal, 500, 18px, 27px, var(--c-txt));
    margin-bottom: 20px;
  }

  .btn {
    margin-top: 20px;
  }

  .info {
    @include fontStyles(normal, 300, 12px, 18px, var(--c-txt));
  }
}

@include respond-between(xs, md) {
  .info-section {
    padding: 50px 20px;
  }

  .info {
    @include fontStyles(normal, 300, 12px, 17px, var(--c-txt));
  }

  .ti {
    margin: 30px 0;
  }

  .title {
    @include fontStyles(normal, 500, 20px, 32px, var(--c-txt));
  }

  .dmy {
    @include fontStyles(normal, 300, 13px, 10px, var(--c-txt));
    letter-spacing: 4px;
  }

  .link {
    @include fontStyles(normal, 300, 13px, 10px, var(--c-txt));
  }

  .btn {
    padding: 15px;
  }
}

@include respond-between(md, lg) {
  .info-section {
    padding: 80px 40px;
  }

  .ti {
    margin: 30px 0;
  }

  .title {
    @include fontStyles(normal, 500, 24px, 32px, var(--c-txt));
  }

  .info {
    @include fontStyles(normal, 300, 13px, 17px, var(--c-txt));
  }

  .dmy {
    @include fontStyles(normal, 300, 13px, 10px, var(--c-txt));
    letter-spacing: 4px;
  }

  .link {
    @include fontStyles(normal, 300, 13px, 10px, var(--c-txt));
  }
}